body {
	font-size: 10pt;
	line-height: 1.75em; 
	background:lightblue;
}

#header {
	position: relative;
	padding: 90px 0;
	height: 80px;
	width: 180px;
	background-color:black; 
	text-align:center;
	font-family: 'Oswald', sans-serif; 
	color:white;
}

ul.menuitem2 {
     list-style:none;  /* removes bullets */
     margin:90;        
     padding:90;
     width:auto;
	 
}

ul.menuitem2 li {
     padding:0;    
     margin:0;
	 display:inline;
	 
}

ul.menuitem2 li {
     padding:0;    
     margin:0;
  display:inline;
	 
}

ul.menuitem2 li a:link, ul.menuitem2 li a:visited {
float:right;
text-decoration:none;
color:white;
padding:5px;
border-right:1px solid white;
}

ul.menuitem2 li a:hover {
     background-color:green;
}

#nav {
	position: absolute;
	top:0;height:54px;
        line-height: 90px; 
	width: 900px;	
	font-family: georgia;
	padding: 0;
	margin: 35px 0 0 75px;
}



#nav a {
	text-decoration: none;
	text-transform: none;
	font-size: 1.25em;
	color:#000080;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	display: inline;
	padding: 0 65px 0 35px;
}

#nav ul li.first {
	padding-left: 0;}


#nav ul li a:hover {
	color: black; 
	text-decoration: underline;
	font-weight: bold;
}

header {
	position: relative;
}
#banner {
	position: relative;
	padding: 35px;
	height: 150px;
	width: 885px; 
	margin: 25px 0 0 0; 
	background: #FFF8DC;
}

@media only screen and (max-height: 550px) {
	/**Navigation**/
.first {font-size:3.5em;
}

nav {
	margin-top:40px;
}


nav ul li {
    display: block;
    width: 94%;
}

#banner{
	width:500px;
}

#nav{
	width:500px;
}

#nav ul li{
	margin:2px;
    padding:0px;
}

    li{border-right:black solid 2px;
}
